body { 
    background-image:  url(https://i.pinimg.com/originals/67/b6/47/67b6477ac6df198ff8726cdd6a5bbaf2.gif);
    background-repeat:repeat;
    
}
.div { 
    background-color: rgba(255, 255, 255, 0.312);
    border: white inset;
    text-align: center;
    font-family: Courier;
    margin: 10%;
    color: white
}