body { 
    background-image: url(https://i.pinimg.com/originals/0e/6b/da/0e6bdaad458721ecf7eb50e0254849bc.gif);
    background-repeat: repeat;

}

div.container{ 
    background-color: rgba(255, 255, 255, 0.316);
    margin: 5%;
    text-align: center;
    color: white;
    border-radius: 10px;
    
}

img { 
    width: 200px;
    height: auto;
    border-radius: 10px;
}

ul.myUL {
    display: inline-block;
    text-align: left;
  }