
body {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/006/621/664/large/dominic-a-g-shipman-1.jpg?1499988646);
    background-repeat: no-repeat;
    background-size: cover;

}

div { 
    background-color: white;
    
}

.mainDiv { /* used for medigun*/

    background: #3e3e3e;
    margin: 10%;
    text-align: center;
    border-radius: 25px;
    color: whitesmoke;
    font-size: larger;
    padding: 5%;
    background-image: url(https://i.pinimg.com/originals/82/1d/6b/821d6ba9d957fc176a5419799f61ec1f.gif);
    
}

.opacityDiv{ /*used for medigun */
    background-color:#b4603269 ;
    padding: 5%;
    border-radius: 25px;
    
    
}

.backButton {
    background-image: url(https://i.pinimg.com/originals/82/1d/6b/821d6ba9d957fc176a5419799f61ec1f.gif);
    padding: 5%;
    border-radius: 25px;
    margin-right: 80%;
    margin-bottom: -5%;
    text-align: center;
}




/* styling */
img{    
    width:600px;
    height: auto;
    
}


.mDiv{
    background:#3e3e3e;
    padding: 5%;
    margin-top: 10%;
    margin-right: 28%;
    margin-left: 30%;
    border-radius: 10px;
   


}